.strel::-webkit-inner-spin-button { 
  display: none;
}
/*Расположение картнок в главном меню*/
.m1 {
	position: absolute;
	top: 195px;
	left: 18%;
}

.m2 {
	position: absolute;
	top: 200px;
	left: 31%;
}

.m3 {
	position: absolute;
	top: 195px;
	left: 40%;
}

.m4 {
	position: absolute;
	top: 185px;
	left: 51%;
}

.m5 {
	position: absolute;
	top: 190px;
	left: 65%;
}

.m6 {
	position: absolute;
	top: 185px;
	left: 75%;
}

.m7 {
	position: absolute;
	top: 425px;
	left: 16%;
}

.m8 {
	position: absolute;
	top: 415px;
	left: 77%;
}

.m9 {
	position: absolute;
	top: 655px;
	left: 18%;
}

.m10 {
	position: absolute;
	top: 655px;
	left: 30%;
}

.m11 {
	position: absolute;
	top: 655px;
	left: 40%;
}

.m12 {
	position: absolute;
	top: 655px;
	left: 52%;
}
.m13 {
	position: absolute;
	top: 655px;
	left: 65%;
}

.m14 {
	position: absolute;
	top: 655px;
	left: 75%;
}


.photo:hover::after { 
 content: attr(data-title); 
}

.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
   .photo:hover::after {
    content: attr(data-title); /* Выводим текст */
	width: 300px;
    position: absolute; /* Абсолютное позиционирование */
	top: 45px;
	left: -120px;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #242d34; 
    font-family: candara; /* Гарнитура шрифта */
    font-size: 14px; /* Размер текста подсказки */
	color: white;
    padding: 5px 10px; /* Поля */
    border: 1px solid #e1da03; /* Параметры рамки */
   }

/*Права защищены*/
.posit {
	position: absolute;
    top: 92%; 	
}

a {
	text-decoration: none;
}

h2 {
	font-family: ARIAL BLACK;
	
}

/*Разделение Главной страницы*/
* { margin: 0; padding: 0; }
p { padding: 10px; }
#left { position: absolute; left: 0; top: 0;
	width: 10%;
	border-right: 0.2px solid;
	height: 100%;
	background: #e1da03;
	color:#242d34;
	}
	
#right { position: absolute; right: 0; top: 0; width: 90%;
	background: #242d34;
	width: 90%;
	height: 100%;
	color:white;
	}
		

/*Стили на текст*/
.font {
	font-family: comic sans ms;
	font-size: 15pt;
	padding: 10px;
}

.txt {
	font-family: candara;
	font-size: 15pt;	
}

.txtCom {
	font-family: candara;
	font-size: 13pt;
	max-width: 1300px;
	padding: 7px;
}

.area {
  font-size: 5em;
  color: #fff;
  font-weight: 700;
}

.txtmain {
	font-family: candara;
	font-size: 13pt;
	max-width: 1000px;
	padding: 40px;
}

.txtcoment {
	wrap:hard;
}

.colortxt {
	color: red;
	font-size: 14pt;
}

.name {
	text-align:center;
}

.txtDelet {
	max-width: 300px;
	text-align:left;
	font-family: candara;
	font-size: 15pt;
}

.txtcar {
	font-family: candara;
	font-size: 13pt;
	max-width: 1000px;
}

/*Авторизация*/
#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
	z-index: 1;
      }
	  
#okno {
    width: 300px;
    height: 260px;
    text-align: center;
    padding: 15px;
    border: 3px solid #e1da03;
    border-radius: 10px;
    color: #e1da03;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #242d34;
      }	

#oknoAdd {
	overflow: auto;
    width: 320px;
    height: 400px;
    text-align: center;
    padding: 15px;
    border: 3px solid #e1da03;
    border-radius: 10px;
    color: #e1da03;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #242d34;
      }	

#oknoCars {
	overflow: auto;
    width: 920px;
    height: 880px;
    text-align: center;
    padding: 15px;
    border: 3px solid #e1da03;
    border-radius: 10px;
    color: #e1da03;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #242d34;
      } 	  
	  
#zatemnenie:target {display: block;}

.bt {
    display: inline-block;
    border: 1px solid #e1da03;
    color: #e1da03;
    padding: 0 10px;
    margin: 5px;
    text-decoration: none;
    background: #242d34;
    font-size: 14pt;
    cursor:pointer;
    }
	  	 
.positExit{
	position: absolute;
    top: 1px; 
    right: 1px; 	
}

.positReg {
	position: absolute;
	left: 95px;
    bottom: 5px; 
}

.positLog {
	position: absolute;
	left: 115px;
    bottom: 5px; 
}

.bt:hover {background: grey;}


/*Регистрация*/
#zatemnenie2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
	z-index: 1;
      }

#okno2 {
    width: 300px;
    height: 310px;
    text-align: center;
    padding: 15px;
    border: 3px solid #e1da03;
    border-radius: 10px;
    color: #e1da03;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #242d34;
      }	  
	  
#zatemnenie2:target {display: block;}
	  
.bt6 {
	font-weight: 600;
	color: white
}

/*Машины в файле cars*/

.product-item {
   background: white;
   width: 300px;
   margin: 0 10px 10px 0;
   text-align: center;
   border-bottom: 2px solid #F5F5F5;
   font-family: "Open Sans";
   display: inline-block;
}

.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   width: 100%;
}
.product-list {
   background: #242d34;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 300;
   color: #444444;
   margin: 0 0 10px 0;
}

.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
   text-align: center;
   
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: black;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}

/*Поиск*/

/* Стиль окна поиска */
#mySearch {	
  position: relative;
  top: 1px;
  width: 10%;
  font-size: 18px;
  padding: 10px;
}

/* Стиль меню навигации */
#myMenu {
  padding: 1;
  margin: 1;
  max-height:40px;
  list-style-type: none;
  
  
} 

/* Стиль навигационных ссылок */
#myMenu li a{
  padding: 12px;
  text-decoration: none;
  color: white;
  width:10%;
  display: block
}

#myMenu li a:hover {
  background-color: #e1da03;
  width: 145px
}

/*Кнопки в личном кабинете Admin*/

.leftlk{
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.positCar1 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #e1da03;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #e1da03;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.btn1:hover::before{
  height: 380%;
}


.btn2::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn2:hover::before{
  height: 380%;
}

.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}

/*Стили на подробную характеристику машин*/

.slider {
      position: relative;
      overflow: hidden;
	  padding: 10px;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
	  
    }
	

    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }


    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 490;
    }

    .slider__control_right {
      right: 490;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
	
.btn5::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.btn5:hover::before{
  height: 380%;
}
	
/*Стили на таблицу*/

table {
  font-family:  Sans-Serif;
  border-collapse: collapse;
  border-color: blue;
  
}
caption {
  padding: 10px;
  color: white;
  font-size: 18px;
  text-align: middle;
  font-weight: bold;
}
th {
  padding: 10px;
  text-align: left;
  color: white;
  border-color: #e1da03;

}
td {
  padding: 15px;
  color: white;
	border-color: #e1da03; 
    border-bottom-style: solid; 
	border-bottom-width: 1px;
 
 
}
tr:nth-child(odd) {
  background: #242d34;
}
tr:nth-child(even) {
  background: #242d34;
}	


.btn4:hover::before{
  height: 380%;
}

/*Стили на добавление данных*/

.sprava{
  position: absolute;
  top: 70px;
  right: 10%;
  transform: translate(-50%,-50%);
}

.bat{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #53DF00;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.bat::before{
  background: #53DF00;
  content: "";
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn4::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.btn4:hover::before{
  height: 380%;
}

/*Стили на поля ввода*/
input {
padding: 5px;
border-radius:10px;
}
